type parts_app, domain, coredomain;
typeattribute parts_app mlstrustedsubject;

app_domain(parts_app)

allow parts_app activity_service:service_manager find;
allow parts_app activity_task_service:service_manager find;
allow parts_app audio_service:service_manager find;
allow parts_app netstats_service:service_manager find;
allow parts_app hal_touchfeature_xiaomi_service:service_manager find;
binder_call(parts_app, hal_touchfeature_xiaomi_default)

allow parts_app system_app_data_file:dir create_dir_perms;
allow parts_app system_app_data_file:file create_file_perms;
allow parts_app system_app_data_file:lnk_file create_file_perms;
